<div class="navbar navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "airboonboo-logo-white.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Book a Ghost", ghosts_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag current_user.photo.key? ? current_user.photo : 'user_default.jpg', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.ghosts.length > 0 %>
                <%# user is a gHost %>
                <%= link_to "My Spooks", my_spooks_path, class: "dropdown-item" %>
                <%= link_to "My Ghosts", my_ghosts_path, class: "dropdown-item" %>
                <%= link_to "Create a New Ghost", new_ghost_path, class: "dropdown-item" %>
                <%= link_to "My Ghosts' Spooks", my_ghost_spooks_path, class: "dropdown-item" %>
              <% else %>
              <%# user is not a gHost %>
                <%= link_to "My Spooks", my_spooks_path, class: "dropdown-item" %>
                <%= link_to "Become a Ghost Host", new_ghost_path, class: "dropdown-item" %>
              <% end %>
              <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= button_to(
                "Log Out",
                destroy_user_session_path,
                method: :delete
              ) %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "See All Ghosts", ghosts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
