<div class="card-form">
  <h2>Reserve <%= @ghost.name.capitalize %></h2>
  <%= simple_form_for([@ghost, @spook]) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit 'Reserve', class: 'btn-flat remove-btn-border' %>
    <%= link_to ghosts_path(@ghost) do %>
    <i class= "fa-solid fa-rotate-left ms-3"></i>
    <% end %>
  <% end %>
</div>
