<div class="wrapper">
  <div class="row justify-content-center form-row">
    <div class="col-8 card-form">
      <h1 class="d-flex justify-content-between align-items-center">
        <%= @ghost.name %>
        <% if @ghost.photo.key? %>
          <%= image_tag @ghost.photo, width: 100 %>
        <% else %>
          <%= image_tag "ghost_default.jpg", width: 100 %>
        <% end %>
      </h1>
      <%= simple_form_for(@ghost) do |f| %>
        <%= f.input :name, placeholder: @ghost.name %>
        <%= f.input :spook_action, collection: %w[Scare Joke Comfort Annoy Entertain Protect], prompt: "#{@ghost.spook_action}", selected: @ghost.spook_action %>
        <%= f.input :address, placeholder: @ghost.address %>
        <%= f.input :daily_rate, type: :number, :input_html => {value: number_with_precision(@ghost.daily_rate, precision: 2) } %>
        <%= f.input :description, placeholder: @ghost.description %>
        <%= f.input :photo, label: "Change photo", as: :file %>
        <%= f.input :is_active, :as => :select, :collection => [['No',false],['Yes',true]], :include_blank => false, :label => "Active" %>
        <%= f.submit "Post your Ghost", class: "btn-flat remove-btn-border" %>
      <% end %>
    </div>
    <div class="row justify-content-center form-row">
    <div class="col-8 mt-3 px-4">
      <%= link_to "Go Back", my_ghosts_path(@ghost) %>
    </div>
    </div>
  </div>
</div>
