<div class="container-index">
  <div class="container-ghost">
    <% @ghosts.each do | ghost | %>

      <div class="card-ghost">
        <div class="card-ghost-photo">
          <%= link_to ghost_path(ghost) do %>
            <% if ghost.photo.key? %>
              <%= cl_image_tag ghost.photo.key, :alt=>"ghost profile picture", :crop => :fill %>
            <% else %>
              <%= image_tag "ghost_default.jpg", :alt=>"default ghost profile", :crop => :fill %>
            <% end %>
          <% end %>
        </div>
        <div class="card-ghost-infos">
          <div>
            <h4><%= link_to ghost.name, ghost_path(ghost) %></h4>
            <p class="card-ghost-description"><%= ghost.description %></p>
            <p class="card-ghost-pricing"><span><%= number_to_currency(ghost.daily_rate) %></span> / night</p>
          </div>
          <p><i class="fa-solid fa-ghost"></i> <%= ghost.spook_action %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-map">
    <div id="index-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
