<div class="wrapper">
  <div class="row justify-content-center form-row">
    <div class="col-8 card-form">
      <h1>Create your ghost</h1>
      <%= simple_form_for(@ghost) do |f| %>
        <%= f.input :name, placeholder: 'Name of ghost' %>
        <%= f.input :spook_action, collection: %w[Scare Joke Comfort Annoy Entertain Protect] %>
        <%= f.input :address, placeholder: 'Where does your ghost like to haunt?' %>
        <%= f.input :daily_rate, placeholder: 'Enter your daily rate here' %>
        <%= f.input :description, placeholder: 'This is where you present your ghost to the world!' %>
        <%= f.input :photo, label: "Upload a photo", as: :file %>
        <%= f.submit "Post your Ghost", class: "btn-flat remove-btn-border" %>
      <% end %>
    </div>
  </div>
</div>
