<div class="wrapper">
  <div class="ghost-title">
    <h1><%= @ghost.name.capitalize %> the <%= @ghost.spook_action %></h1>
    <% render 'total-rating' %>
    <p>
      <i class="fa-solid fa-star"></i> <%= @total_rating %> · <%= @ghost.reviews.length %> Reviews · <%= @ghost.location.capitalize %>
    </p>
  </div>
  <div class="ghost-info">
    <%= cl_image_tag @ghost.photo.key, :alt=>"ghost profile picture" %>
    <div class="ghost-details">
      <p><%= @ghost.description %></p>
      <p>Hosted by <%= @ghost.user.name %></p>
    </div>
  </div>
  <div class="ghost-reviews">
    <h2>Reviews</h2>
    <div class="ghost-review">
      <% @ghost.reviews.each do |review| %>
        <%= cl_image_tag review.spook.user.photo.key%>
        <div>
          <p><%= review.spook.user.name %></p>
          <p><%= review.created_at %></p>
        </div>
        <p><%= "★" * total_rating %></p>
        <p><%= review.comment %></p>
      <% end %>
    </div>
  </div>
</div>

<%# name
spook_action
reviews
location

description
is_active
daily_rate

user_id %>
