<div class="wrapper">
  <div class="ghost-title">
    <h1><%= @ghost.name.capitalize %> the <%= @ghost.spook_action %></h1>
    <% render 'total-rating' %>
    <p>
      <i class="fa-solid fa-star"></i> <%= @total_rating %> · <%= @ghost.reviews.length %> Reviews · <%= @ghost.location.capitalize %>
    </p>
  </div>
  <div class="ghost-info">
    <%= cl_image_tag @ghost.photo.key, :alt=>"ghost profile picture" %>
    <div class="ghost-details">
      <p><%= @ghost.description %></p>
      <h4>Hosted by <%= @ghost.user.name %></h4>
    </div>
  </div>
  <div class="ghost-reviews">
    <h2>Reviews</h2>
    <% if @ghost.reviews.length > 0 %>
      <% render 'reviews' %>
    <% else %>
      <div>
        This ghost does not have any reviews yet.
      </div>
    <% end %>
  </div>
</div>

<%# name
spook_action
reviews
location

description
is_active
daily_rate

user_id %>
