<div class="wrapper">
  <div class="ghost-title">
    <div>
      <h1><%= @ghost.name.capitalize %> </h1>
    </div>
    <%# render 'total-rating' %>
    <p>
    <%# <i class="fa-solid fa-star"></i> <%= @total_rating %><%#= @ghost.reviews.length %>
    Hosted by <%= @ghost.user.name %> · <%= @ghost.location %>
    </p>
  </div>
  <div class="ghost-info">
    <%= cl_image_tag @ghost.photo.key, :alt=>"ghost profile picture" %>
    <div class="ghost-details">
      <h4><i class="fa-solid fa-ghost"></i> <%= @ghost.spook_action %></h4>
      <p><%= @ghost.description %></p>
      <p><%= number_to_currency(@ghost.daily_rate) %> per night</p><br>
      <div class="new-spook-form">
        <%= render "ghosts/new_spook_form" %>

        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <%# <div class="ghost-reviews">
    <h2>Reviews</h2>
    <% if @ghost.reviews.length > 0 %>
      <%# render 'reviews' %>
    <%# else %>
      <%# <p>BoOoOoOoo...this ghost does not have any reviews yet...</p> %>
    <%# end %>
  <%# </div> %>
</div>
