<div class="wrapper">
  <h1>My Reservations</h1>
  <div class="my-spooks">
    <% @spooks.each do |spook| %>
      <% if spook.status == 'Pending' %>
        <div class="card-spook">
          <% if spook.ghost.photo.key? %>
            <%= cl_image_tag spook.ghost.photo.key %>
          <% else %>
            <%= image_tag "ghost_default" %>
          <% end %>
          <div class="card-spook-infos">
            <h2><%= spook.ghost.name %></h2>
            <p><%= spook.start_date.strftime("%B %d") %> - <%= spook.end_date.strftime("%B %d") %></p>
            <p>Total: <%= number_to_currency([spook.ghost.daily_rate.to_f, spook.ghost.daily_rate * (spook.end_date - spook.start_date).to_f].max) %></p>
            <p class="card-spook-status"><%= spook.status %></p>
            <%= link_to my_spook_path(spook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this reservation?" } do %>
              <i class="fa-solid fa-trash" style="padding-right: 10px;"></i>
            <% end %>
            <%= link_to edit_my_spook_path(spook) do %>
              <i class="fas fa-edit" style="padding-left: 10px;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @spooks.each do |spook| %>
      <% if spook.status == 'Accepted' %>
        <div class="card-spook">
          <% if spook.ghost.photo.key? %>
            <%= cl_image_tag spook.ghost.photo.key %>
          <% else %>
            <%= image_tag "ghost_default" %>
          <% end %>
          <div class="card-spook-infos">
            <h2><%= spook.ghost.name %></h2>
            <p><%= spook.start_date.strftime("%B %d") %> - <%= spook.end_date.strftime("%B %d") %></p>
            <p>Total: <%= number_to_currency([spook.ghost.daily_rate.to_f, spook.ghost.daily_rate * (spook.end_date - spook.start_date).to_f].max) %></p>
            <p class="card-spook-status"><%= spook.status %></p>
            <%= link_to my_spook_path(spook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this reservation?" } do %>
              <i class="fa-solid fa-trash" style="padding-right: 10px;"></i>
            <% end %>
            <%= link_to edit_my_spook_path(spook) do %>
              <i class="fas fa-edit" style="padding-left: 10px;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @spooks.each do |spook| %>
      <% if spook.status == 'Declined' %>
        <div class="card-spook">
          <% if spook.ghost.photo.key? %>
            <%= cl_image_tag spook.ghost.photo.key %>
          <% else %>
            <%= image_tag "ghost_default" %>
          <% end %>
          <div class="card-spook-infos">
            <h2><%= spook.ghost.name %></h2>
            <p><%= spook.start_date.strftime("%B %d") %> - <%= spook.end_date.strftime("%B %d") %></p>
            <p>Total: <%= number_to_currency([spook.ghost.daily_rate.to_f, spook.ghost.daily_rate * (spook.end_date - spook.start_date).to_f].max) %></p>
            <p class="card-spook-status"><%= spook.status %></p>
            <%= link_to my_spook_path(spook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this reservation?" } do %>
              <i class="fa-solid fa-trash" style="padding-right: 10px;"></i>
            <% end %>
            <%= link_to edit_my_spook_path(spook) do %>
              <i class="fas fa-edit" style="padding-left: 10px;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Find a Ghost", ghosts_path, class:"btn-flat" %>
</div>
