<div class="wrapper">
  <div class="row justify-content-center form-row">
    <div class="col-4 card-form">
    <h1>Reserve <%= @ghost.name.capitalize %></h1>
      <%= simple_form_for([@ghost, @spook]) do |f| %>
        <%= f.date_select :start_date, as: :date %>
        <%= f.date_select :end_date, as: :date %>
        <%= f.submit 'Reserve my Spook!', class: 'btn-flat' %>
      <% end %>
    </div>

  </div>
</div>
