<h1>Your Spook</h1>
  <p>
    <strong>Name:</strong>
    <%= @spook.ghost.name %>
  </p>

  <p>
    <strong>Dates:</strong>
    <%= @spook.start_date.strftime('%B %d, %Y') %>
    to
    <%= @spook.end_date.strftime('%B %d, %Y') %>
  </p>

  <p><strong>Total: </strong>
    <%= number_to_currency([@spook.ghost.daily_rate.to_f, @spook.ghost.daily_rate * (@spook.end_date - @spook.start_date).to_f].max) %>
  </p>

  <p> <strong>Status: </strong>
   <%= @spook.status %>
  </p>

</div>

<div>
  <%= link_to "Edit Spook Dates", edit_my_spook_path(@spook) %>  |
  <%= link_to "Delete this Spook", my_spook_path(@spook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this spook?" } %>  |
  <%= link_to "Back to Spooks", my_spooks_path %>
</div>
