<!DOCTYPE html>
<html>
  <head>
    <title>AirBooNBoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/300f71314e.js" crossorigin="anonymous"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>

  <body>
    <%= render "components/navbar" %>
    <div class="alert" data-controller="alert">
      <% flash.each do |type, msg| %>
        <% if type == "alert" %>
          <div class="alert flash flash-danger" role="alert" >
            <%= msg %>
            <a data-alert-target="popup" data-action="click->alert#connect" data-bs-dismiss="alert" aria-label="Close">
              <i class="fas fa-times"></i>
            </a>
          </div>
        <% elsif type == "notice" %>
          <div class="alert alert-dismissible flash flash-success fade show" role="alert">
            <%= msg %>
            <a data-alert-target="popup" data-action="click->alert#connect" data-bs-dismiss="alert" aria-label="Close">
              <i class="fas fa-times"></i>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <%= render "components/footer" %>
  </body>
</html>
